body {
    background-color: #F9FAFC;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.red-o {
    color: #E84610;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.card-img-top {
    border-radius: 1rem;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #0f9dd7;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

/* .masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #0f9dd7;
    color: white;
    position: relative;
} */

/* .masthead-image {
    width: 100%;
} */

/* .masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #0f9dd7;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
} */

.post-link {
    text-decoration: none;
    color:#0f9dd7;
}

.post-link:hover{
    color: black;
}

.post-title {
    text-decoration: none;
    color: black;
}


.btn-signup {
    background-color: #0f9dd7;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #0f9dd7;
}

.link {
    color: #0f9dd7;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.social-network i {
    color: white;
}

.bg-sky {
    background-color: #0f9dd7;
}

/* .bgimage {
    width: 100%;
    height: 500px;
    background: url('https://images.unsplash.com/photo-1438109491414-7198515b166b?q=80&fm=jpg&s=cbdabf7a79c087a0b060670a6d79726c');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
} */

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-size: 1.20rem;
}

#mainNav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
    border-bottom: 1px solid #dee2e6;
    background-color: #fff;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#mainNav .navbar-toggler {
    font-size: 0.75rem;
    font-weight: 800;
    padding: 0.75rem;
    text-transform: uppercase;
}

.navbar-user {
    font-size: 20px;
}

header.masthead {
    position: relative;
    margin-bottom: 3rem;
    padding-top: calc(8rem + 57px);
    padding-bottom: 8rem;
    background: no-repeat center center;
    background-color: #6c757d;
    background-size: cover;
    background-attachment: scroll;
}

header.masthead:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #212529;
    opacity: 0.5;
}



.site-heading .subheading {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.1;
    text-align: center;
    display: block;
    margin-top: 0.625rem;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.post-heading {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.1;
    text-align: center;
    color: white;
    display: block;
    margin-top: 0.625rem;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.site-heading {
    text-align: center;
    color: white;
}

.site-heading h1 {
    font-size: 5rem;
}

.post-heading h1 {
    font-size: 4rem;
}

.post-heading h2 {
    font-size: 2.1rem;
}

.post-subtitle {
    font-size: 1.2rem;
}

a {
    color: #0f9dd7;
}

a:hover {
    color: black;
}

.form-group {
    width: 43%;
}

.section-headline h2 {
    display: inline-block;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 70px;
    position: relative;
    text-transform: capitalize;
}

.section-headline h2::after {
    border: 1px solid #333;
    bottom: -20px;
    content: "";
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 40%;
}

.section-headline h2 {
    font-size: 4rem;
}

.well-middle .single-well {
    margin-top: 30px;
}

.single-well>a {
    display: block;
}

.sec-head {
    text-align: center;
    color: black;
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    text-transform: uppercase;
    transition: all 0.4s ease 0s;
}

img {
    max-width: 100%;
    width: 612px;
    height: 320px;
}

.about-p1 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

.about-li {
    font-weight: bold;
}

.features-icons {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.features-icons-item {
    max-width: 20rem;
}

.features-icons-icon {
    background-image: url("https://res.cloudinary.com/dxq7tud8l/image/upload/v1660438348/kapadokya_pflx3l.jpg");
    height: 15rem;
    background-size: cover;
    margin-bottom: 2rem;
    border-radius: 1rem;
}

.features-icons-icon-location {
    background-image: url("https://res.cloudinary.com/dxq7tud8l/image/upload/v1660439510/location1_jmchtc.png");
    height: 15rem;
    background-size: cover;
    margin-bottom: 2rem;
    border-radius: 1rem;
}

.features-icons-icon-food {
    background-image: url("https://res.cloudinary.com/dxq7tud8l/image/upload/v1660440037/trfood_ail1f3.jpg");
    height: 15rem;
    background-size: cover;
    margin-bottom: 2rem;
    border-radius: 1rem;
}

.big-i {
    font-size: 4.5rem;
    color: #0f9dd7;
}


@media (min-width: 992px) {
    #mainNav {
        transition: background-color 0.2s;
        transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-bottom: 1px solid transparent;
        background: transparent;
    }

    .navbar-expand-lg {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

    #mainNav .navbar-brand {
        color: #fff;
        font-weight: 800;
    }

    #mainNav .navbar-brand:hover {
        color: #0f9dd7;
    }

    .navbar-user {
        font-size: 20px;
        font-weight: 800;
    }

    .navbar-user:hover {
        color: #fff;
    }

    #mainNav .navbar-nav>li.nav-item>a.nav-link {
        color: #fff;
    }

    #mainNav .navbar-nav>li.nav-item>a.nav-link:hover {
        color: #0f9dd7;
    }

    #mainNav .navbar-nav>li.nav-item>a.nav-link {
        font-size: 0.75rem;
        font-weight: 800;
        letter-spacing: 0.0625em;
        text-transform: uppercase;
    }

    header.masthead {
        padding-top: 12.5rem;
        padding-bottom: 12.5rem;
    }
}

@media (max-width: 992px) {
    .single-well>p{
        text-align: center;
    }
}