body {
    background-color: #F9FAFC;
}

.main-bg {
    background-color: #F9FAFC;
}

/* post detail */
.comment-name{
    color: #0f9dd7;
}

/* blog */
.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.card-img-top {
    max-width: 100%;
    width: 612px;
    height: 320px;
    border-radius: 1rem;
}

.post-link {
    text-decoration: none;
    color:#0f9dd7;
}

.post-link:hover{
    color: black;
}

.post-title {
    text-decoration: none;
    color: black;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.bg-sky {
    background-color: #0f9dd7;
}

/* footer */
footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-size: 1.20rem;
}

/* NavBar */
#mainNav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
    border-bottom: 1px solid #dee2e6;
    background-color: #fff;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#mainNav .navbar-toggler {
    font-size: 0.75rem;
    font-weight: 800;
    padding: 0.75rem;
    text-transform: uppercase;
}

header.masthead {
    position: relative;
    margin-bottom: 3rem;
    padding-top: calc(8rem + 57px);
    padding-bottom: 8rem;
    background: no-repeat center center;
    background-color: #6c757d;
    background-size: cover;
    background-attachment: scroll;
}

header.masthead:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #212529;
    opacity: 0.5;
}

.post-heading {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.1;
    text-align: center;
    color: white;
    display: block;
    margin-top: 0.625rem;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.site-heading {
    text-align: center;
    color: white;
}

.site-heading h1 {
    font-size: 5rem;
}

.post-heading h1 {
    font-size: 4rem;
}

.post-heading h2 {
    font-size: 2.1rem;
}

.post-subtitle {
    font-size: 1.2rem;
}

a {
    color: #0f9dd7;
}

a:hover {
    color: black;
}

/* H1 almost on every page  */
.section-headline h1 {
    display: inline-block;
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 70px;
    position: relative;
    text-transform: capitalize;
}

.section-headline h1::after {
    border: 1px solid #333;
    bottom: -20px;
    content: "";
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 40%;
}

/* index page */
.well-middle .single-well {
    margin-top: 30px;
}

.single-well>a {
    display: block;
}

.sec-head {
    text-align: center;
    color: black;
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    text-transform: uppercase;
    transition: all 0.4s ease 0s;
}

.about-p1 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

.about-li {
    font-weight: bold;
}

.travel-img {
    max-width: 100%;
    width: 612px;
    height: 320px;
    border-radius: 1rem;
}

.features-icons {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.features-icons-item {
    max-width: 20rem;
}

.features-icons-icon {
    background-image: url("https://res.cloudinary.com/dxq7tud8l/image/upload/v1660438348/kapadokya_pflx3l.jpg");
    height: 15rem;
    background-size: cover;
    margin-bottom: 2rem;
    border-radius: 1rem;
}

.features-icons-icon-location {
    background-image: url("https://res.cloudinary.com/dxq7tud8l/image/upload/v1660439510/location1_jmchtc.png");
    height: 15rem;
    background-size: cover;
    margin-bottom: 2rem;
    border-radius: 1rem;
}

.features-icons-icon-food {
    background-image: url("https://res.cloudinary.com/dxq7tud8l/image/upload/v1660440037/trfood_ail1f3.jpg");
    height: 15rem;
    background-size: cover;
    margin-bottom: 2rem;
    border-radius: 1rem;
}

.rounded-circle {
    border: 2px solid white;
    height: 40px;
    width: 40px;
}

.nav-item{
    list-style: none;
}

/* Profile picture smal */
.img-fluid{
    height: 200px;
    width: 200px;
}

/* pagination */
.btn-left{
    margin-right: 5px;
}

.btn-right{
    margin-left: 5px;
}

@media (min-width: 992px) {
    #mainNav {
        transition: background-color 0.2s;
        transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-bottom: 1px solid transparent;
        background: transparent;
    }

    .navbar-expand-lg {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

    #mainNav .navbar-brand {
        color: #fff;
        font-weight: 800;
    }

    #mainNav .navbar-brand:hover {
        color: #0f9dd7;
    }

    .navbar-user {
        font-size: 20px;
        font-weight: 800;
    }

    .navbar-user:hover {
        color: #fff;
    }

    #mainNav .navbar-nav>li.nav-item>a.nav-link {
        color: #fff;
    }

    #mainNav .navbar-nav>li.nav-item>a.nav-link:hover {
        color: #0f9dd7;
    }

    #mainNav .navbar-nav>li.nav-item>a.nav-link {
        font-size: 0.75rem;
        font-weight: 800;
        letter-spacing: 0.0625em;
        text-transform: uppercase;
    }

    header.masthead {
        padding-top: 12.5rem;
        padding-bottom: 12.5rem;
    }
}

@media (max-width: 992px) {
    .single-well>p{
        text-align: center;
    }
}