{% extends "base.html" %}
{% block content %}
{% load static %}
{% include "includes/header.html" %}
{% if post_category %}

<div class="section-headline text-center">
    <h1> {{ cats }} </h1>
</div>

<div class="container-fluid">
    <div class="row">
        <!-- Categories Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for post in post_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                <a href="{% url 'post_detail' post.slug  %}">
                                    {% if "placeholder" in post.featured_image.url %}
                                    <img class="card-img-top"
                                        src="https://sd.keepcalms.com/i-w600/no-profile-pic-but-trust-me-i-m-cute.jpg">
                                    {% else %}
                                    <img class="card-img-top" src=" {{ post.featured_image.url }}">
                                    {% endif %}
                                </a>
                            </div>
                            <a href="{% url 'post_detail' post.slug  %}" class="post-title">
                                <h2 class="card-title">{{ post.title }}</h2>
                                <p class="card-text">Author: {{ post.author }} - {{ post.excerpt }} - {{ post.category }}</p>
                            </a>
                            <hr />
                            <p class="card-text text-muted h6">{{ post.created_on}} <i class="far fa-heart"></i>
                                {{ post.number_of_likes }}</p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if post_list.has_other_pages %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if post_list.has_previous %}
            <li><a href="?page={{ post_list.previous_page_number }}" class="btn btn-primary btn-large bg-sky">&laquo; PREV </a></li>
            {% endif %}
            {% if post_list.has_next %}
            <li><a href="?page={{ post_list.next_page_number }}" class="btn btn-primary btn-large bg-sky"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{% else%}
<h2 class="text-center">This page doesn't exist</h2>
{% endif %}

{%endblock%}