{% extends "base.html" %}

{% block content %}

{% load static %}

{% include "includes/header.html" %}

<div class="about-area area-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline text-center">
                    <h1>About Travel</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="well-left">
                    <div class="single-well"><img
                                src="https://res.cloudinary.com/dxq7tud8l/image/upload/v1657018101/travel_at499o.jpg"
                                class="travel-img" alt=""></div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="well-middle">
                    <div class="single-well">
                            <h4 class="sec-head">Traveling around the world !</h4>
                        <p class="about-p1">And Sharing stories</p>
                        <ul>
                            <li class="about-li">The world is filled with endless beauty and adventures</li>
                            <li class="about-li">Let's explore every corner of this incredible planet</li>
                            <li class="about-li">Sign Up! and share your experiences about the cities</li>
                            <li class="about-li">Or create your own post about the city you visited</li>
                        </ul>
                        <p><a aria-current="page" href="{% url 'blog' %}" class="btn btn-primary btn-large bg-sky">Blog
                                »</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <!-- <div class="features-icons-icon d-flex"><i class="big-i fas fa-plane m-auto"></i></div> -->
                    <div class="features-icons-icon d-flex"></div>
                    <h3>Write about your adventures</h3>
                    <p class="lead mb-0">Share the best adventures you've had in the cities</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon-location d-flex"></div>
                    <h3>Write about the locations</h3>
                    <p class="lead mb-0">Share the most beautiful places you have visited in the cities</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    <div class="features-icons-icon-food d-flex"></div>
                    <h3>Write about the delicious food</h3>
                    <p class="lead mb-0">Share the best food you ate in the cities</p>
                </div>
            </div>
        </div>
    </div>
</section>


<br>
{%endblock%}