{% extends "base.html" %}

{% block content %}

{% include "includes/header.html" %}

<!-- <section class="bgimage">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h5>Share your Travels with us</h5>
                <p>register and share your experiences with us about the cities you have visited</p>
                <p><a aria-current="page" href="{% url 'blog' %}" class="btn btn-primary btn-large bg-sky">Blog »</a></p>
            </div>
        </div>
    </div>
</section> -->

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Share you experiences</h1>
                <p>Do you Like to travel?</p>
                <p>Sign Up! and share your experiences about the cities</p>
                <p>Or create your own post about the city you visited</p>
            </div>
        </div>
    </div>
</section>


{%endblock%}