{% extends "base.html" %}

{% block content %}

<section class="bgimage">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h5>Share your Travels with us</h5>
                <p>register and share your experiences with us about the cities you have visited</p>
                <p><a aria-current="page" href="{% url 'blog' %}" class="btn btn-primary btn-large bg-sky">Blog »</a></p>
            </div>
        </div>
    </div>
</section>


{%endblock%}