{% extends "base.html" %}
{% block content %}
{% include "includes/header.html" %}
{% load static %}
{% load cloudinary %}

{% if user.is_authenticated %}
<div class="section-headline text-center">
    <h1>Create Your Own Post</h1>
  </div>
<div class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <div class="form-group">
                <form action="" method=POST enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ post_form.as_p | safe }}
                    <br>
                    <input class="btn btn-primary btn-large bg-sky" type="submit" value="submit">
                </form>
            </div>
        </div>
    </div>
</div>
<br>
{% else %}
<center>
    <h1>You are not Logged in</h1 </center>
    <br>
{% endif %}

{%endblock%}