{% extends "base.html" %}

{% block content %}

{% load static %}
{% load cloudinary %}

{% include "includes/header.html" %}

{% load crispy_forms_tags %}

{% if user.is_authenticated %}
{% if user.id == post.author.id %}
<center>
    <h1>Edit Your Post</h1>
</center>
<div class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <div class="form-group">
                <form action="" method=POST enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ post_form.as_p | safe }}
                    <br>
                    <input class="btn btn-primary btn-large bg-sky" type="submit" value="submit">
                </form>
            </div>
        </div>
    </div>
</div>
<br>
{% else %}
<center>
    <h1>You are not Logged in</h1 </center>
    <br>
    {% endif %}
    {% else %}
    <center>
        <h1>You are not Logged in</h1 </center>
        <br>
        {% endif %}

        {%endblock%}